{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<h2>Food schedule page</h2>

<div>
    <p><b style="text-decoration: indigo">Click the button to see foods:</b></p>
    <form method="post">
    <input type="submit" name="Breakfast" value="Breakfast" style="font-size: 25px;background-color: #32465a;color: snow;padding: 5px">
    <input type="submit" name="Lunch" value="Lunch" style="font-size: 25px;background-color: #32465a;color: snow;padding: 5px">
    <input type="submit" name="Dinner" value="Dinner" style="font-size: 25px;background-color: #32465a;color: snow;padding: 5px" method="post">
    </form>

    <p>{{ fd }}</p>
    <table style="padding: 20px;border: #f3f4f7;background-color: #f3f4f7" >
        <tr>
            <td>First food:</td>
            <td>{{ f }}</td>
        </tr>
        <tr>
            <td>Second food:</td>
            <td>{{ s }}</td>
        </tr>
         <tr>
            <td>Third food:</td>
            <td>{{ t }}</td>
        </tr>
    </table>

</div>
{% endblock %}