{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>
    Welcome, {{ username }}!
    we are willing to serve you
</p>
<table>
<tr>
    <th><img src='../static/img/well.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/1.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/2.jpg' alt="" style="width: 330px;height: 250px"></th>
</tr>
<tr>
    <th><img src='../static/img/pic/3.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/4.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/2.jpg' alt="" style="width: 330px;height: 250px"></th>
</tr>
<tr>
    <th><img src='../static/img/pic/9.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/10.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/11.jpg' alt="" style="width: 330px;height: 250px"></th>
</tr>
<tr>
    <th><img src='../static/img/pic/12.jpg' alt=""  style="caption-side: bottom;width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/13.jpg' alt="" style="width: 330px;height: 250px"></th>
    <th><img src='../static/img/pic/8.jpg' alt="" style="width: 330px;height: 250px"></th>
</tr>
</table>
{% endblock %}